<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analizador de Emociones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Analizador de Emociones</h1>
        <form id="upload-form" action="{{ url_for('index') }}" method="post" enctype="multipart/form-data">
            <div class="button-container">
                <div class="file-input-container">
                    <label for="image-input" class="file-input-label">
                        <span id="file-name">Seleccionar Imagen</span>
                        <input type="file" id="image-input" name="image" accept="image/*" required>
                    </label>
                </div>
                <button type="submit">Analizar Emoción</button>
            </div>
        </form>

        <div id="result" class="hidden">
            <div class="image-container">
                <img id="user-image" src="{{ user_image }}" alt="Imagen Cargada" width="400">
                <img id="result-image" src="{{ result_image }}" alt="Resultado" width="400">
            </div>
            <div id="emotion-result">
                <p>Emoción detectada: <span id="emotion">{{ emotion }}</span></p>
                <p>Índice de confianza: <span id="confidence">{{ confidence }}</span>%</p>
            </div>
        </div>
        <div id="loading" class="hidden">Analizando...</div>
        <div id="error" class="hidden"></div>
        
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
